/*Color palette
#252323 - Black
#2F3061 - Dark Blue
#F5F1ED - white smoke
#53A2BE - Light blue
#FF9E1F - yellow*/


/*Global styles*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    color: #252323;
    margin: 0; /*romoves space from the left and right side of the body*/
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5; /*half the size of the font size*/
}
img{
    width: 300px;
}
a{
    color: #ffe66d;
}
a:hover{
    text-decoration: none;
}
h1{
    font-size: 100px;
    line-height: 1;
}
h2{
    font-size: 45px;
}
h1,h2{
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
h3{
    margin-bottom: 0;
}
.item-details  h3 + p {
    font-style: italic;
}
.item-details  h3 ~ p {
    margin: 0;
}
.divider > section{
    border-bottom: 1px dashed #343434 ;
    padding: 25px 0;
}
.divider > section:last-of-type{
    border-bottom: none;
}

/*Profile*/
header {
    background:#2F3061;
    color: #f7fff7;
    text-align: center;
}

/*Projects*/
.projects{
    background:#F5F1ED ;
}
.projects a {
    color: #2F3061;
}
.projects .btn{
    color:#f7fff7 ;
    background:#2F3061 ;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background: rgba(47, 48, 97,80%);
}
.project-item{
    overflow: hidden;
}
.project-item img{
    float: left;
    margin-right: 20px;
}
.project-item h3{
    margin-top: 0;
}

/*Work experience*/
.work-experience{
    background: #53A2BE ;
}
.job-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    /*border-bottom: 1px dashed #343434;*/
}

/*Education*/

/*contact*/
footer{
    background: #252323;
    color: #f7fff7;
    text-align: center;
}
.contact-list{
    list-style-type:none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}